body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A6A6A6
}

html, body {
    height: 100%;
    margin: 0;
}

.header {
    background-color: #171717;
    width: 100%;
    height: 90px;
    padding-top: 10px;
}

.container1 {
    width: 90%;
    height: 70px;
    /* margin-left: 100px; */
    margin: auto;
    /* Se colocar a margem em pixels antes, o auto não reconhece */
}

.container2 {
    width: 50%;
    height: 83%;
    float: left;
}

.filha2 {
    width: 80%;
    height: 50%;
    background-color: #706E71;
    /* top right bottom left*/
    margin: 4% 0% 2% 9.5%;
    padding-top: 2%;
    /* padding: 3% 7% 3% 7%; */
}

.container21 {
    width: 90%;
    height: 80%; 
    margin: 0% 0% 2% 5%;
    background-color: #706E71;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

.celula11 {
    display: block;
    background-color: #D9D9D9;
    width: 91%;
    height: 25px;
    /* top right bottom left*/
    margin: 1% 0% 1% 4.5%;
    padding-top: 10px;
}

.celula12 {
    display: block;
    background-color: #D9D9D9;
    width: 91%;
    height: 40px;
    /* top right bottom left*/
    margin: 1% 0% 1% 4.5%;
    padding-top: 10px;
}

.celula2_esq {
    display: inline-block;
    background-color: #D9D9D9;
    width: 45%;
    height: 20px;
    /* top right bottom left*/
    margin: 0.5% 0% 0.5% 2%;
    padding-top: 5px;
    color: #6D6D6D;
}

.celula2_dir {
    display: inline-block;
    background-color: #D9D9D9;
    width: 45%;
    height: 20px;
    /* top right bottom left*/
    margin: 0.5% 2% 0.5% 0%;
    padding-top: 5px;
    color: #6D6D6D;
}

.container22 {
    width: 82%;
    height: 10%;
    background-color: #706E71;
    margin-left: 9%;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 8px;
}

.container3 {
    width: 50%;
    height: 83%;
    float: right;
}

.cont_31 {
    height: 10%;
}

.cont_32 {
    height: 80%;
    width: 75%;
    background-color: #D6BF23;
    margin-left: 12.5%;
}

.filha_32 {
    width: 90%;
    height: 100%;
    /* top right bottom left*/
    padding: 4% 0% 0% 4.5%;
}

.div_botao {
    padding: 6% 0% 4.5% 0%;
}

.cont_33 {
    height: 10%;
}

.logotipo {
    float: left;
    margin-left: 0;
    height: 64px;
}

.botao_sair {
    float: right;
    margin: 0px;
    height: 64px;
}

.titulo {
    width: 90%;
    /* top right bottom left*/
    padding: 20px 0px 0px 20px;
}

.fidelidade {
    width: 70%;
    padding-top: 25px;
    margin-left: 14%;
}

.user {
    float: right;
    height: 25px;
    /* top right bottom left*/
    padding: 1.5% 1% 0% 1%;
}

/* Outline é a borda quando clica na caixinha */
.entrada {
    border: 0 none;
    outline-color: #62B6AA;
    background-color: #D9D9D9;
    height: 30px;
    width: 100%;
    display: inline-block;
    margin-bottom: 2%;
    text-transform: uppercase;
    font-size: 14px;
}

.desc_entrada {
    font-size: 12px;
    text-transform: uppercase;
}

.div_resposta {
    background-color: black;
    height: 22%;
    color: #D6BF23;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    /* top right bottom left*/
    /* padding: 1% 0% 1% 1%; */
    padding: 1% 0;
    /* Align-items centraliza verticalmente
    align-items: center;
    display: flex; */
}

.nav ul {
    float: left;
    margin: auto;
    color: #A6A6A6;
}

.nav a {
    /* Vai tirar o sublinhado do link */
    text-decoration: none;
    color: #A6A6A6;
    /* Deixar tudo em caixa alta */
    font-size: 18px;
    font-weight: bold;
}

.nav .lista1 li {
    margin-left: 50px;
    list-style: none;
    display: inline-block;
    /* top right bottom left*/
    padding: 25px 5px 0px 5px;
}

.nav .sair {
    float: right;
    /* top right bottom left*/
    padding: 25px 5px 0px 5px;
}

.header .nav .current a {
    color: #D6BF23;
}