body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;
    height: 50px;
}

.header{
    background-color:#232323;
    height: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: yellow solid 5px;
  
}

.header img {
    width: 10%;
    height: 175%;
    float: left;
}
.header .nav .current a,
.header span {
    color: yellow;
}

.title-header h1, 
.nav ul{
    margin: 0;
    float: left;
}

.title-header{
    float: left;
    color: #ffffff;
}

.title-header h1{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav{
    float: right;
}

.nav a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
}

.nav li{
    display: inline-block;
    padding: 10px 20px 0 20px;
}

.nav a{
    Width: 102px;
    Height:44px;
    Top:31px;
    Left:1267px;
    border-Radius:7px
}

.showcase{
    background-image: url(../img/computer-2048166_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    min-height: 540px;
    min-width: 1100px;
    filter: blur(2px);
}