/* Configurações que servem pra tudo */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}


/*Barra preta*/
.header
    {
    position: fixed;
    display: flex;
    margin: auto;
    height: 10vh;
    width: 100vw;
    background-color: #232323;
    align-items: center;
    justify-content: space-around;


}

/* Estilização tanto da lista de menus quanto do AMONIMOUS INC */
.title-header h1,
.nav ul {
    margin: 0;
    float: left;
}

.login {
    color: #232323;
}

.showcase

/*Aqui é onde fica a img de fundo*/
    {
    background: url(../img/computer-2048166_1920.jpg) bottom no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.showcase p

/*Texto abaixo*/
    {
    font-size: 22px;
    text-align: right;

}

/* grupo do texto home */
.texto-lateral {
    margin: 0px 60px 60px 0px;
}

/*Amonimous da lateral maior*/
.texto-h1 {
    text-align: right;
    font-size: 55px;
    margin: 0px;
}

/*estilização da linha home*/
.linha-um
    {
    background-color: #FBFF47;
    height: 5px;
    margin: 0px 0px 15px 215px;
    border: #FBFF47;
    border-radius: 23px;
}

/*Grupo = Amonimous INC + Imagem do logo*/
.title-header
    {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.title-header h1

/*Aqui você consegue arrumar o 'Amonimous INC' do lado do logo*/
    {
    font-size: 15px;
    color: white;
}

.logo-imagem

/*Aqui é apenas o logo*/
    {
    height: 50px;
}

.nav

/*Grupo de LI's*/
    {
    float: right;
}

.nav a {
    text-decoration: none;
    font-style: initial;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
}

.nav li {
    display: inline-block;
    padding: 10px 20px 0 20px;
}

.nav a {
    Width: 102px;
    Height: 44px;
    Top: 31px;
    Left: 1267px;
    border-Radius: 7px
}

/* botão de login e suas configurações*/
.nav .login {
    border-radius: 5px;
    background-color: #FBFF47;
    height: 44px;
    width: 102px;
    padding: 4px 9px;
    color: #232323;
}


.new {
    background-color: #232323;
    color: #ffffff;
    padding: 30px 0px 30px 0px;
}

/* background da tela sobre nós */
.sobreNos {
    background: url(../img/Sobre.png) bottom no-repeat;
    background-size: cover;
    height: 99vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: #232323 7px solid;
}

/* grupo texto lateral sobre nós */
.txt-sobre-nos{
    margin: 0px 50px 0px 0px;   
}

/* Texto tela sobre nós H1 */
.txt_snh1 {
    font-size: 55px;
    color: #232323;
    text-align: right;
}

/* estilização da linha sobre nós */
.linha-dois {
    background-color: #232323;
    height: 5px;
    border: #232323;
    border-radius: 23px;
    margin-left: 500px;
}

/* Texto tela sobre nós H2 */
.txt_snh2 {
    font-size: 22px;
    text-align: right;
}
/* div de toda a parte de valores */
.valores-tudo{
    background-color: #232323;
    height: 55vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top:#F4F597 05px solid;
    border-bottom: #F4F597 5px solid;

}
/* caixinhas dentro do valores tudo correspondente as imagens e seus textos */

.caixas{
    color: #ffffff;
    text-align: center;
    font-size: 16px;
}

.caixas img{
    height: 120px;
}

.caixas h3{
    margin: 30px 0px 5px 0px;
}


/* Fundo tela do time */
.container {
    height: auto;
    background-color: #414040;
    padding-top: 52px;
    padding-bottom: 40px;
}

.texto-sobre{
    color: #FBFF47;
    text-align: center;
    margin-bottom: 50px;
}

/* imagens time */
.timeFotos {
    width: 200px;
}

.flutuar{
    max-width: 200px;
}
/* mesma coisa que nas imagens porém nos nomes */
.flutuar h1 {
    text-align: center;
}

.tela-contato {
    background: url(../img/Contato.png) bottom no-repeat;
    background-size: cover;
    height: 100vh;
}

/* centralização das imagens do time na linha de cima */
.primeira-linha {
    display: flex;
    width: 75%;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
}

/* centralização das imagens do time na linha debaixo */

.segunda-linha {
    display: flex;
    margin: 0 auto;
    width: 50%;
    justify-content: space-between;
}

.segunda-linha p{
    text-align: center;
}

#equipe{
    padding-top: 10px;
    color: #ffffff;
    font-size: 30px;
}

.linha-tres {
    background-color: #FBFF47;
    height: 5px;
    border: #FBFF47;
    border-radius: 15px;
    margin-left: 628px;
    width: 86px;
}

.flutuar p, h1{
    color: #ffffff;
}



/* Tela de contato */
.tela-contato {
    background: url(../img/Contato.png) bottom no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    border-top: #FBFF47 5px solid;
    border-bottom: #FBFF47 5px solid;
}

.dados-contato{
    margin: 0px 90px 0px 0px;
}

.dados-contato h1{
    font-size: 60px;
    color: #FBFF47;
    margin: 0px 0px 35px 0px;
}

.dados-contato h2{
    font-size: 30px;
    color: #FBFF47;
    margin: 0px 0px 15px 0px;
}

.dados-contato p{
    font-size: 20px;
    color: white;
    margin: 0px 0px 15px 0px;
}

footer{
    background-color: #232323;
    height: 70px;
    color: #FBFF47;
    display: flex;
    align-items: center;
    justify-content: center;
}
