/* Configurações que servem pro body inteiro */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}


.header

/*Barra preta*/
    {
    position: fixed;
    display: flex;
    margin: auto;
    height: 10vh;
    width: 100vw;
    background-color: #232323;
    align-items: center;
    justify-content: space-around;
        

}

.transparencia {
    background: rgba(0, 0, 0, 0.4);
}


.showcase

/*Aqui é onde fica a img de fundo*/
    {
    background: url(../img/computer-2048166_1920.jpg) bottom no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    height: 110%;
    width: 100%;
    padding-top: 33px;
}

.showcase p

/*Texto abaixo*/
    {
    font-size: 22px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 100px;
    text-align: right;
    margin-bottom: 0px;
    padding-bottom: 110px;

}



/* Estilização tanto da lista de menus quanto do AMONIMOUS INC */
.title-header h1,
.nav ul {
    margin: 0;
    float: left;
}

.login {
    color: #232323;
}

.title-header

/*Grupo = Amonimous INC + Imagem do logo*/
    {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.title-header h1

/*Aqui você consegue arrumar o 'Amonimous INC' do lado do logo*/
    {
    font-size: 15px;
    color: white;
}

.logo-imagem

/*Aqui é apenas o logo*/
    {
    height: 50px;
}

.nav

/*Grupo de LI's*/
    {
    float: right;
}

.nav a {
    text-decoration: none;
    font-style: initial;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
}

.nav li {
    display: inline-block;
    padding: 10px 20px 0 20px;
}

.nav a {
    Width: 102px;
    Height: 44px;
    Top: 31px;
    Left: 1267px;
    border-Radius: 7px
}

/* botão de login e suas configurações*/
.nav .login {
    border-radius: 5px;
    background-color: #FBFF47;
    height: 44px;
    width: 102px;
    padding: 4px 9px;
    color: #232323;
}



/*Amonimous da lateral maior*/
.texto-h1 {
    margin-top: 0px;
    margin-right: 100px;
    margin-left: 210px;
    margin-bottom: 0px;
    font-size: 55px;
    padding-top: 300px;
    padding-left: 750px;
}

.linha-um

/*estilização da linha home*/
    {
    background-color: #FBFF47;
    height: 5px;
    width: 140px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: #FBFF47;
    border-radius: 23px;
}



.new {
    background-color: #232323;
    color: #ffffff;
    padding: 30px 0px 30px 0px;
}


.linha-acima {
    background-color: #232323;
    height: 5px;
    width: 100%;
    margin-right: 100%;
    margin-top: 0px;
    border: #232323;
    border-radius: 23px;
}

/* background da tela sobre nós */
.sobreNos {
    background: url(../img/Sobre.png) bottom no-repeat;
    background-size: cover;
    height: 99vh;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}

/* Texto tela sobre nós H1 */
.txt_snh1 {
    margin-top: 0px;
    margin-left: 243px;
    margin-bottom: 0px;
    font-size: 55px;
    padding-top: 200px;
    padding-left: 750px;
}

/* estilização da linha sobre nós */
.linha-dois {
    background-color: #232323;
    height: 5px;
    width: 140px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: #232323;
    border-radius: 23px;
}

/* Texto tela sobre nós H2 */
.txt_snh2 {
    font-size: 22px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 100px;
    text-align: right;
}

/* imagens time */
.timeFotos {
    height: 230px;
   
}
/* Fundo tela do time */
.container{
    height: 95vh;
    background-color: #232323;
    padding-top: 52px;
    padding-bottom: 105px;
}

.texto-sobre{
    color: #FBFF47;
    text-align: center;
}

/* float nas imagens para ficarem ao lado uma das outras */
.flutuar {
    float: left;
}

/* mesma coisa que nas imagens porém nos nomes */
.flutuar h1 {
    margin-left: 100px;
}

/* centralização das imagens do time */
.primeira-linha {
    display: flex;
    margin: 0 auto;
    width: fit-content;
}

.segunda-linha{
    display: flex;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}



/* Tela de contato */

.tela-contato {
    background: url(../img/Contato.png) bottom no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 1px;
}