body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A6A6A6;
}

/*
#paragrafo{
    color: yellow;
}*/

.header{
    background-color:#121212;
    height: 114px;
    padding-top: 50px;
    /* border-bottom: orangered solid 5px; */
}

.header .nav .current a,
.header span{
    color: #F1EC40;
}

.container{
    /* Largura do elemento */ 
    width: 80%;
    margin: auto;

    height: 70px;
}

h2{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin: 20px;
    padding-top: 20px;
    padding-left: 60px;
}

.title-header h1,
.nav ul
{
    margin: 0;
}

.title-header{
    float: left;
    color: #ffffff;
}

img {
    height: 70px;
    display: block;
    float: left;
}

.nav{
    float: right;
}

.nav a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
}

.nav li{
    display: inline-block;
    padding: 10px 20px 0px 20px;
    
}

.box {
    background-color: #545454;
    height: 80px;
    width: 500px;
}

.box2 {
    background-color: #121212;
    height: 150px;
    width: 600px;
    margin-left: 30px;
    font-size: 15px;
}

h3{
    color: #ffffff;
    margin-top: 10px;
    padding: 25px 10px 0px 30px;
    font-size: 28px;
}

.yellowbox {
    background-color: #D6BF23;
    height: 670px;
    width: 780px;
    float: right;
    margin: -20px 200px 0px 20px;
}

.info{
    margin: 30px 20px 20px 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.yellowbox input{
    background-color: #D9D9D9;
    margin-top: 20px;
    width: 600px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.yellowbox button{
    background-color:#62B6AA;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.yellowbox p{
    font-size: 15px;
    color: white;
}

.blackbox {
    background-color: #161616;
    height: 100px;
    width: 590px;
    /* float: right; */
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;   
    color: white; 
}


