body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

/* COMEÇO HEADER */
.header {
    /* position: fixed; */
    display: flex;
    margin:auto;
    background-color:#232323;
    border-bottom: #FBFF47 solid 5px;
    height:70px;
    /* position: absolute; */
    /* top: 0; */
}

.title-header {
    display: flex;
    align-items: center;

}

.logo-imagem {
    width: 80px;
}

.title-header h1 {
    font-size: 15px;
    color: white;
}
/* FIM HEADER */

/* COMEÇO CONTEÚDO DA PÁGINA */
.conteudo {
    width: 100%;
    height:100%;
    background-color:#F4F597; 
    position: absolute;
}

.caixota {
    width: 80%;
    background-color: 0;
    margin: auto;
    height: 100px;
}

.box {
    background-color:#353535;
    width:550px;
    height:500px;
    margin-top:40px;
    border-radius: 30px;
}

.titulo-login {
    text-align:center;
    padding-top:10px;       
}

.titulo-login, h1, 
.title-google h3 {
    color:#FBFF47;
    text-align:center
}

.title-google {
    display: flex;
    align-items: center;
    padding-left: 120px;
}

.google {
    width:120px;

}

.login {
    padding-left:60px;
}

.login label {
    color:#FBFF47;
    font-size:18px;
}
.login input {
    border-radius:10px;
    padding: 7px;
}

.bt {
    width:100px;
    height:40px;
    border-radius: 30px;
    margin-left:220px;
    color:black;
    background-color:#FBFF47;
    border-color: #FBFF47;
    font-size:15px;
}

.final-login label{
    color:#FBFF47;
    font-size:16px;
    margin-left:105px;
}

/* FIM CONTEÚDO DA PÁGINA */

