body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

/* COMEÇO HEADER */
.header {
    /* position: fixed; */
    display: flex;
    margin:auto;
    background-color:#232323;
    border-bottom: #FBFF47 solid 5px;
    height:70px;
    /* position: absolute; */
    /* top: 0; */
}

.title-header {
    display: flex;
    align-items: center;

}

.logo-imagem {
    width: 80px;
}

.title-header h1 {
    font-size: 15px;
    color: white;
}
/* FIM HEADER */

/* COMEÇO CONTEÚDO DA PÁGINA */
.conteudo {
    width: 100%;
    height:90%;
    background-color:#F4F597; 
    position: absolute;
}

#caixota {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.box {
    background-color: #353535;
    height: 420px;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-login, h1, 
.title-google h3 {
    color:#FBFF47;
}

.title-google {
    display: flex;
    align-items: center;
    /* padding-left: 120px; */
}

.google {
    width:120px;

}

.campos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 77%;
    width: 100%;
}

.campo {
    /* display: flex; */
    /* flex-direction: column; */
    width: 90%;
    /* padding: 0px 13px;*/
}

.campo b {
    text-transform: uppercase;
}

label {
    color:#FBFF47;
    font-size:18px;
}

input {
    border-radius: 10px;
    padding: 7px;
}

a {
    text-decoration: none;
}

.bt {
    width:100px;
    height:40px;
    border-radius: 30px;
    color:black;
    background-color:#FBFF47;
    border-color: #FBFF47;
    font-size:15px;
}

.final-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.final-login label{
    color:#FBFF47;
    font-size:16px;
}

#bt_entrar b {
    color: black;
}

#img_fundo {
    width:50%;
    height:80%;
    float: left;
    padding-top:100px;
}

.imagem_login {
    width: 400px;
    float:left;
    margin-left:200px;
}

a {
    text-decoration: none;
    color:#FBFF47;

}

/* Configuração do popup quando o botão calcular é clicado */

/* Div criada para controlar o aparecimento ou desaparecimento do popup*/
#aparecer {
    /* display: none; */
    opacity: 0;
}

/* Div com as dimensões do popup */
.popup_pai {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 5;
}

.popup {
    width: 540px;
    height: 150px;
    background-color: #62B6AA;
    border-radius: 20px;
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bt_sair {
    padding: 8px 20px 8px 20px;
    top: 0px;
    right: 0px;
}

#bt_sair {
    background-color: #FBFF47;
    font-weight: bold;
    position: absolute;
    text-transform: uppercase;
}

.titulo_popup {
    background-color: rgba(53, 53, 53, 0.6);
    top: 43px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

footer{
    background-color: #313131;
    height: 70px;
    width: 100%;
    color: #FBFF47;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

/* FIM CONTEÚDO DA PÁGINA */

