/* Configurações que servem pro body inteiro */
body {
    background-color: #f4f597;
}

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0; 
}

/*Barra preta*/ 
.header { 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 11vh;
    margin-bottom: 11px;
    background-color: #232323;
    border-bottom: #FBFF47 solid 5px;
}

.transparencia {
    background: rgba(0, 0, 0, 0.4);
}


.showcase

/*Aqui é onde fica a img de fundo*/
    {
    background: url(../img/computer-2048166_1920.jpg) bottom no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    height: 110%;
    width: 100%;
    padding-top: 33px;
}

.showcase p

/*Texto abaixo*/
    {
    font-size: 22px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 100px;
    text-align: right;
    margin-bottom: 0px;
    padding-bottom: 110px;

}

.login {
    color: #232323;
}

.title-header

/*Grupo = Amonimous INC + Imagem do logo*/
    {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
}

.title-header h1

/*Aqui você consegue arrumar o 'Amonimous INC' do lado do logo*/
    {
    font-size: 15px;
}

.logo-imagem

/*Aqui é apenas o logo*/
    {
    height: 50px;
}

.nav

/*Grupo de LI's*/
    {
    float: right;
}

.nav a {
    text-decoration: none;
    font-style: initial;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
}

.nav li {
    display: inline-block;
    padding: 10px 20px 0 20px;
}

.nav a {
    Width: 102px;
    Height: 44px;
    Top: 31px;
    Left: 1267px;
    border-Radius: 7px
}

/* botão de login e suas configurações*/
.nav .login {
    border-radius: 5px;
    background-color: #FBFF47;
    height: 44px;
    width: 102px;
    padding: 4px 9px;
    color: #232323;
}



/*Amonimous da lateral maior*/
.texto-h1 {
    margin-top: 0px;
    margin-right: 100px;
    margin-left: 210px;
    margin-bottom: 0px;
    font-size: 55px;
    padding-top: 300px;
    padding-left: 750px;
}

.linha-um

/*estilização da linha home*/
    {
    background-color: #FBFF47;
    height: 5px;
    width: 140px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: #FBFF47;
    border-radius: 23px;
}



.new {
    background-color: #232323;
    color: #ffffff;
    padding: 30px 0px 30px 0px;
}


.linha-acima {
    background-color: #232323;
    height: 5px;
    width: 100%;
    margin-right: 100%;
    margin-top: 0px;
    border: #232323;
    border-radius: 23px;
}

/* background da tela sobre nós */
.sobreNos {
    background: url(../img/Sobre.png) bottom no-repeat;
    background-size: cover;
    height: 99vh;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}

/* Texto tela sobre nós H1 */
.txt_snh1 {
    margin-top: 0px;
    margin-left: 243px;
    margin-bottom: 0px;
    font-size: 55px;
    padding-top: 200px;
    padding-left: 750px;
}

/* estilização da linha sobre nós */
.linha-dois {
    background-color: #232323;
    height: 5px;
    width: 140px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: #232323;
    border-radius: 23px;
}

/* Texto tela sobre nós H2 */
.txt_snh2 {
    font-size: 22px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 100px;
    text-align: right;
}

/* imagens time */
.timeFotos {
    height: 200px;
    border: 2px;
    border-radius: 100%;
}

/* float nas imagens para ficarem ao lado uma das outras */
.flutuar {
    float: left;
}

/* mesma coisa que nas imagens porém nos nomes */
.flutuar h1 {
    margin-left: 100px;
}

.tela-contato {
    background: url(../img/Contato.png) bottom no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}

/* centralização das imagens do time */
.primeira-linha,
.segunda-linha {
    margin: 0 auto;
    width: fit-content;
}

/* COISA NOVA */

.caixota{
    height: 85vh;
    display: flex;
    justify-content: space-between;
}

.caixotacadastrogrande{
    height: 100%;
    width:50%;
    display: flex;
    justify-content: center;
 }


.caixa_formulario{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius:20px;
    color:#fbff47;
    background-color: #353535;
}



 .titulo {
    height: 11%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px; 
}

.campos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 77%;
    width: 100%;
}

.campo{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0px 13px;
}
.caixotaimg{
    background: url(../img/pergaminho.png) right no-repeat;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.formulario label{
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
    line-height: 0px;
}



.entrada {
    border-radius: 10px;
    padding: 7px;
}

label {
    text-transform: uppercase;
}

.botao{
    height: 14%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #313131;
    height: 55px;
    color: #FBFF47;
    display: flex;
    align-items: center;
    margin-top: 11px;
    justify-content: center;
}


button{
    height: 60%;
    width: 30%;
    border-radius: 13px;
    background-color: #fbff47;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}